# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite DB
db.sqlite3
*.sqlite3

# Django migrations
**/migrations/
**/migrations/*.py
**/migrations/*.pyc

# Logs
*.log

# VS Code settings
.vscode/

# Environments
env/
venv/
.my_env/
*/env/
*/venv/

# OS files
.DS_Store
Thumbs.db

# Ignore media files
/media/
*/media/
**/media/

# TDS file
generate_tds_docx.py
Shashan_Technical_Design_Specification.docx

# SRS file
**.pdf